OPENROUTER_API_KEY =""
SUPABASE_URL = "https://hpirunrgwsdzndmhtzgz.supabase.co"
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhwaXJ1bnJnd3Nkem5kbWh0emd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1OTQzNTIsImV4cCI6MjA2NTE3MDM1Mn0.pGKPBpUb5BUseha_QvU9rfhItJc2akyObZTE0iuL9w8